<%# Login Info Info  %>
<%= render :partial => 'login_info' %>

<%# Address Info  %>
<div class="panel panel-default">

  <%= form.fields_for :ship_address do |ship_form| %>

    <div class="panel-heading">
      <h3 class="panel-title">2. Información de envío</h3>
    </div>

    <div class="panel-body">

      <div class="row">

        <div class="col-sm-9">

          <fieldset id="shipping" data-hook="shipping_fieldset_wrapper">

            <legend>Dirección de envío</legend>
            <%= render :partial => 'spree/address/form', :locals => { :form => ship_form, :address_type => 'shipping', :address => @order.ship_address } %>

          </fieldset>

          <fieldset id="billing" data-hook="billing_fieldset_wrapper">
            <legend><%= Spree.t(:billing_address) %></legend>

            <div class="form-group">
              <div class="checkbox" data-hook="use_billing">
                <%= label_tag :order_use_billing, :id => 'use_billing' do %>
                  <%= check_box_tag 'order[use_shipping]', '1', ((@order.ship_address.empty? && @order.bill_address.empty?) || @order.ship_address.same_as?(@order.bill_address)) %>
                  Usar la dirección de envío
                <% end %>
              </div>
            </div>

            <%= form.fields_for :bill_address do |bill_form| %>
              <%= render :partial => 'spree/address/form', :locals => { :form => bill_form, :address_type => 'billing', :address => @order.bill_address } %>
            <% end %>

          </fieldset>

          <fieldset data-hook="contact_info_wrapper">

            <legend><%= t(:contact_info) %></legend>

            <%= form.fields_for :ship_address do |ship_form| %>
              <%= render :partial => 'contact_info', :locals => { :form => ship_form, :address_type => 'shipping', :address => @order.ship_address } %>
            <% end %>

          </fieldset>

          <div class="btn-toolbar" data-hook="buttons">
            <%= submit_tag "Continuar", :class => 'continue button btn btn-primary' %>
          </div>

        </div>

      </div>

    </div>

  <% end %>

</div>
