<%# Login Info  %>
<%= render :partial => 'login_info' %>

<%# Address Info  %>
<%= render :partial => 'address_info' %>

<div class="panel panel-default" id='shipping_method' data-hook>

  <div class="panel-heading">
    <h3 class="panel-title">3. <%= Spree.t(:shipping_method) %></h3>
  </div>

  <div class="panel-body" data-hook="shipping_method_inner">

    <%= form.fields_for :shipments do |ship_form| %>
      <div class="form-group">
        <% ship_form.object.shipping_rates.each do |rate| %>
          <div class="radio">
            <label>
              <%= ship_form.radio_button :selected_shipping_rate_id, rate.id %>
              <%= rate.name %> <b>(+ <%= rate.display_cost %>)</b>
            </label>
          </div>
        <% end %>
      </div>
    <% end %>

    <% if Spree::Config[:shipping_instructions] %>
      <br>
      <div class="form-group">
        <label for="special_instructions"><%= Spree.t(:shipping_instructions) %></label>
        <%= form.text_area :special_instructions, :cols => 40, :rows => 4, :class => "form-control" %>
      </div>
    <% end %>

    <div class="btn-toolbar" data-hook="buttons">
      <%= submit_tag Spree.t(:save_and_continue), :class => 'btn btn-primary' %>
    </div>

  </div>

</div>

<%# Payment Info  %>
<%= render :partial => 'payment_info' %>
