<div class="panel panel-default panel--cart-summary">

  <div class="panel-heading">
    <h3 class="panel-title"><%= Spree.t(:order_summary) %></h3>
    <a href="#" class="panel-edit">Edit</a>
  </div>

  <div class="panel-body">

    <table class="table table--purchase table--purchase--items">
      <tbody>
        <% @order.line_items.each do |item_form| %>
          <%= render :partial => 'summary_item', :locals => { :variant => item_form.variant, :line_item => item_form } %>
        <% end %>
      </tbody>
    </table>

    <table class="table table--purchase table--purchase--totals">
      <tbody>
        <tr data-hook="item_total" class="subtotal">
          <th><%= Spree.t(:item_total) %></th>
          <td class="price"><%= order.display_item_total.to_html %></td>
        </tr>
      </tbody>

      <% if order.line_item_adjustments.nonzero.exists? %>
        <tbody data-hook="order_details_promotion_adjustments">
          <% order.line_item_adjustments.nonzero.promotion.eligible.group_by(&:label).each do |label, adjustments| %>
            <tr>
              <th><%= label %></th>
              <td class="price"><%= Spree::Money.new(adjustments.sum(&:amount), currency: order.currency).to_html %></td>
            </tr>
          <% end %>
        </tbody>
      <% end %>

      <tbody data-hook="order_details_tax_adjustments">
        <% order.all_adjustments.nonzero.tax.eligible.group_by(&:label).each do |label, adjustments| %>
          <tr>
            <th><%= label %></th>
            <td class="price"><%= Spree::Money.new(adjustments.sum(&:amount), currency: order.currency).to_html %></td>
          </tr>
        <% end %>
      </tbody>

      <% if order.passed_checkout_step?("delivery") && order.shipments.any? %>
        <tr data-hook="shipping_total">
          <td><%= Spree.t(:shipping_total) %></td>
          <td class="price"><%= Spree::Money.new(order.shipments.to_a.sum(&:cost), currency: order.currency).to_html %></td>
        </tr>

        <% if order.shipment_adjustments.nonzero.exists? %>
          <tbody data-hook="order_details_shipment_promotion_adjustments">
            <% order.shipment_adjustments.nonzero.promotion.eligible.group_by(&:label).each do |label, adjustments| %>
              <tr>
                <th><%= label %></th>
                <td class="price"><%= Spree::Money.new(adjustments.sum(&:amount), currency: order.currency).to_html %></td>
              </tr>
            <% end %>
          </tbody>
        <% end %>
      <% end %>

      <% if order.adjustments.nonzero.eligible.exists? %>
        <tbody id="summary-order-charges" data-hook>
          <% order.adjustments.nonzero.eligible.each do |adjustment| %>
          <% next if (adjustment.source_type == 'Spree::TaxRate') and (adjustment.amount == 0) %>
            <tr>
              <th><%= adjustment.label %>:</th>
              <td class="price"><%= adjustment.display_amount.to_html %></td>
            </tr>
          <% end %>
      <% end %>

      <tbody>
        <tr data-hook="order_total" class="total">
          <th><%= Spree.t(:order_total) %></th>
          <td class="price" id="summary-order-total"><%= order.display_total.to_html %></td>
        </tr>
      </tbody>
    </table>

  </div>

</div>
