<tr>
  <th>
    <% if variant.images.length == 0 %>
      <%= mini_image(variant.product) %>
    <% else %>
      <%= image_tag(variant.images.first.attachment.url(:mini)) %>
    <% end %>
  </th>
  <td>
    <b><%= variant.product.name %></b>
    <%= variant.option_values[0].presentation unless variant.option_values.empty? %>
    <% if line_item.quantity > 1%>
      <br>x <%= line_item.quantity %>
    <% end %>
  </td>
  <td class="price">
    <%= line_item.single_money.to_html %>
  </td>
</tr>

